<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <div>
            <table border="1" cellpadding="5">
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                </tr>

                <tr th:each="customer : ${customerData.getCustomers}">
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.id}"></td>
                </tr>

            </table>
        </div>

        <div>
            <select th:field="${customer}">
                <option th:each=" customer : ${customerData.getCustomers}" th:value="${customer.name}" th:text="${customer.name}">

                </option>
            </select>
        </div>

        <div>
            <a th:href="home">Home</a>
        </div>
    </div>

</body>
</html>