<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <div th:switch="@{customerData.getCustomers}">
            <table>
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                </tr>
            </table>
            <tr th:each="customer : ${customerData.getCustomers}">
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.id}"</td>
            </tr>
        </div>

        <div>
            <a th:href="home">Home</a>
        </div>
    </div>

</body>
</html>