<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div align="center">
        <h1>Welcome userName</h1>
        <div>
            <table border="1">
                <tr><td><a th:href="customer">Customers</a></td></tr>
                <tr><td><a th:href="order">Orders</a></td></tr>
                <tr><td><a th:href="product">Products</a></td></tr>

            </table>
        </div>

        <div>
            <tr><a th:href="add_order">Place new Order</a></tr>
        </div>

    </div>
</body>
</html>